<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.locktimer2">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@drawable/peepo_sleep"
        android:label="@string/app_name"
        android:roundIcon="@drawable/icon_hourglass"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ui.SettingsActivity"
            android:exported="false"
            android:label="@string/settings"
            android:parentActivityName=".ui.MainActivity" />

        <receiver
            android:name=".admin.AdminReceiver"
            android:exported="true"
            android:permission="android.permission.BIND_DEVICE_ADMIN">
            <meta-data
                android:name="android.app.device_admin"
                android:resource="@xml/policies" />
            <intent-filter>
                <action android:name="android.app.action.DEVICE_ADMIN_ENABLED" />
            </intent-filter>
        </receiver>

        <receiver
            android:name=".ui.TimerWidget"
            android:exported="true">
            <meta-data
                android:name="android.appwidget.provider"
                android:resource="@xml/widget_metadata" />
            <intent-filter>
                <action android:name="android.appwidget.action.APPWIDGET_UPDATE" />
            </intent-filter>
        </receiver>

        <service android:name=".timer.TimerStarterService" />

    </application>

</manifest>